<!DOCTYPE html>
<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>Events</title>
</head>

<body>
    <div id="vm">

        <h1 style="margin-bottom: -20px;">ОНЛАЙН-МЕРОПРИЯТИЯ</h1>
        <div class="taskboard">

            <div class="select_buttons">
                <button @click="importance_change = '', status_change = ''">все мероприятия</button>
            </div>

            <div class="select_buttons">
                <button :class="{ pressed: importance_change == '0' }" @click="importance_change = '0', events_count = 0">Обычные мероприятия</button>
                <button :class="{ pressed: importance_change == '1' }" @click="importance_change = '1', events_count = 0">Важные мероприятия</button>
                <button :class="{ pressed: importance_change == '2' }" @click="importance_change = '2', events_count = 0">Особо важные мероприятия</button>
            </div>

            <div style="margin-top: 0.3vh;" class="select_buttons">
                <button :class="{ pressed: status_change == '0' }" @click="status_change = '0', events_count = 0">Незавершенные мероприятия</button>
                <button :class="{ pressed: status_change == '1' }" @click="status_change = '1', events_count = 0">Завершенные мероприятия</button>
            </div>

            <ul>
                <li v-for="i in get_events({{ notes }})" v-if="(i[5] == importance_change || importance_change == '') && (i[6] == status_change || status_change == '')">

                    <form action="/delete" method="POST" v-if="update_value != i[7]">
                        <button class="button_del" name="ROWID" alt="delete" title="delete" :value="[[ i[7] ]]">
                            <img src="static\images\delete.webp" height="20px">
                        </button>
                    </form>

                    <button class="button_update" alt="update" title="update" @click="update_value = i[7], valve_add = false, valve_date = get_valve_date(i[2])" v-if="update_value != i[7]">
                        <img src="static\images\update.png" height="20px">
                    </button>

                    <form action="/update" method="POST" v-if="update_value == i[7]" style="margin-top: 40px;">
                        <p><input style="display:block; margin: 0 auto;" placeholder="Имя заметки" type="text" name="name" :value="[[ i[0] ]]"></p><br>
                        <p style="margin-bottom: 30px;">Срок: от <input placeholder="Начало срока" type="date" name="start" :value="[[ i[1] ]]"> до 
                        <input placeholder="Конец срока" type="date" name="end" :value="[[ i[2] ]]" :disabled="valve_date"></p>
                        <p style="margin-bottom: 30px;"><input v-if="valve_date" type="hidden" name="end" value=""></p>
                        
                        <input style="margin-left: 30px;" type="radio" v-model="valve_date" :value="false"><label>Многодневное мероприятие</label><br>
                        <input style="margin-left: 30px;" type="radio" v-model="valve_date" :value="true"><label>Однодневное мероприятие</label>

                        <p style="margin-top: 10px;">Кем назначено: <input placeholder="Кем назначено" type="text" name="supervisor" :value="[[ i[3] ]]"></p>

                        <input type="radio" name="importance" v-model="get_importance_value(i[5])" value="0"><label>Обычное</label>
                        <input type="radio" name="importance" v-model="get_importance_value(i[5])" value="1"><label>Важное</label>
                        <input type="radio" name="importance" v-model="get_importance_value(i[5])" value="2"><label>Особо важное</label>

                        <input type="radio" name="status" v-model="get_status_value(i[6])" value="0"><label>Не завершено</label>
                        <input type="radio" name="status" v-model="get_status_value(i[6])" value="1"><label>Завершено</label>

                        <p><h3>Примечание</h3><textarea rows="1" style="margin-top: -25px;" class="input_note_update" placeholder="Заметка" type="text" name="note" :value="[[ i[4] ]]"></textarea></p>
                        <input type="hidden" :value="[[ i[7] ]]" name="ROWID">
                        <input style="margin-top: 30px; margin-bottom: 5px;" class="confirm" type="submit" value="подтвердить изменения">
                        <input class="back" type="submit" value="назад" @click="update_value = '', valve_add = false">
                    </form>

                    <div v-if="update_value != i[7]">
                        <h2>[[ i[0] ]]</h2>
                        <p v-if="i[2] !== '0'" class="pp">Срок: от [[ i[1] ]] до [[ i[2] ]]</p>
                        <p v-else="" class="pp">Срок: [[ i[1] ]]</p>
                        <p class="pp">Кем назначено: [[ i[3] ]]</p>

                        <p v-if="i[5] === '0'" class="pp">Важность: Обычное</p>
                        <p v-if="i[5] === '1'" class="pp">Важность: Важное</p>
                        <p v-if="i[5] === '2'" class="pp">Важность: Особо важное</p>

                        <p v-if="i[6] === '0'" style="background-color: rgba(255, 127, 127, 0.6); margin-top: 0.5vh; margin-right: 5vw;">Статус: Не завершено</p>
                        <p v-if="i[6] === '1'" style="background-color: rgba(127, 255, 127, 0.6); margin-top: 0.5vh; margin-right: 6vw;">Статус: Завершено</p>
                        <h3>Примечание</h3><p>[[ i[4] ]]</p>
                    </div>
                </li>



                <div v-if="valve_add && update_value == ''" class="add"><form action="/add" method="POST" style="margin-top: 40px;">
                    <p><input style="display:block; margin: 0 auto;" placeholder="Имя заметки" type="text" name="name"></p><br>

                    <p style="margin-bottom: 30px;">Срок: от <input placeholder="Начало срока" type="date" name="start"> до 
                    <input placeholder="Конец срока" type="date" name="end" :disabled="valve_date"></p>
                    <p style="margin-bottom: 30px;"><input v-if="valve_date" type="hidden" name="end" value=""></p>

                    <input style="margin-left: 30px;" type="radio" v-model="valve_date" :value="false"><label>Многодневное мероприятие</label><br>
                    <input style="margin-left: 30px;" type="radio" v-model="valve_date" :value="true"><label>Однодневное мероприятие</label>

                    <p style="margin-top: 10px;">Кем назначено: <input placeholder="Кем назначено" type="text" name="supervisor"></p>

                    <input type="radio" name="importance" v-model="get_importance_value(importance_change)" value="0"><label>Обычное</label>
                    <input type="radio" name="importance" v-model="get_importance_value(importance_change)" value="1"><label>Важное</label>
                    <input type="radio" name="importance" v-model="get_importance_value(importance_change)" value="2"><label>Особо важное</label>

                    <input type="radio" name="status" v-model="get_status_value(status_change)" value="0"><label>Не завершено</label>
                    <input type="radio" name="status" v-model="get_status_value(status_change)" value="1"><label>Завершено</label>

                    <p><h3>Примечание</h3><textarea style="margin-top: -25px;" class="input_note_update" placeholder="Заметка" type="text" name="note"></textarea></p>
                    <input type="hidden" name="ROWID">

                    <input style="margin-top: 30px; margin-bottom: 5px;" class="confirm" type="submit" value="подтвердить мероприятие">
                    <input class="back" type="submit" value="назад" @click="valve_add = !valve_add">
                </form></div>

                <button v-if="!valve_add || update_value != ''" alt="add" title="add" @click="valve_add = !valve_add, update_value = ''" class="button_add">
                    <img src="static\images\plus.webp" height="30px">
                </button>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src={{ url_for('static', filename='index.js')}}></script>
</body>

</html>
