<html>
    <head>
        <title>Список</title>
        <style>

          .hweek {
            display: flex;
            width: 1200px;
            height: 460px;
            gap: 50px;
            font-size: 200%;
            float: right;
          }

          .sec {
            margin-top: 50px;
          }

          li {
            width: 350px;
            height: 400px;
            background-color: orange;
            padding: 10px;
            border-radius: 10px 30px;
            line-height: 0.3em;
            list-style-type: none;
          }

        </style>
    </head>

    <body>
        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
          </script>
          
          <div id="app">
            <select v-model="text">
              <option disabled value="">Пожалуйста, выберите одно</option>
              <option :value="class_1">11A</option>
              <option :value="class_2">11Б</option>
              <option :value="class_3">11В</option>
            </select>

            <div class="hweek">
              <li>Понедельник
              <ul v-for="(item, index) in text[0]">{{ index+1 }}. {{ item }}</ul></li>
              <li>Вторник
              <ul v-for="(item, index) in text[1]">{{ index+1 }}. {{ item }}</ul></li>
              <li>Среда
              <ul v-for="(item, index) in text[2]">{{ index+1 }}. {{ item }}</ul></li>
            </div>

            <div class="hweek sec">
              <li>Четверг
              <ul v-for="(item, index) in text[3]">{{ index+1 }}. {{ item }}</ul></li>
              <li>Пятница
              <ul v-for="(item, index) in text[4]">{{ index+1 }}. {{ item }}</ul></li>
              <li>Суббота
              <ul v-for="(item, index) in text[5]">{{ index+1 }}. {{ item }}</ul></li>
            </div>

          </div>

          <script type="module">
            import { createApp, ref, reactive } from 'vue'
            
            createApp({
              setup() {
                var text = ref([])

                var class_1 = ref([
                  ["Алгебра", "Алгебра", "Алгебра"],
                  ["Геометрия", "Геометрия", "Геометрия", "Геометрия"],
                  ["Информатика", "Информатика"],
                  ["Информатика", "Информатика", "Информатика"],
                  ["Физ-ра", "Информатика", "Информатика"],
                  ["Алгебра", "Геометрия"]
                ])

                var class_2 = ref([
                  ["Алгебра", "Алгебра", "Алгебра"],
                  ["Информатика", "Информатика"],
                  ["Геометрия", "Геометрия"],
                  ["Информатика", "Информатика"],
                  ["Алгебра", "Геометрия"],
                  ["Физ-ра", "Информатика", "Информатика"]
                ])

                var class_3 = ref([
                  ["Геометрия", "Геометрия"],
                  ["Физ-ра", "Информатика", "Информатика"],
                  ["Информатика", "Информатика"],
                  ["Алгебра", "Алгебра", "Алгебра"],
                  ["Информатика", "Информатика"],
                  ["Алгебра", "Геометрия"]
                ])

                return {
                  text,
                  class_1,
                  class_2,
                  class_3,
                }
              }
            }).mount('#app')
          </script>
    </body>
</html>
